* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.menu-container {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;

}

.menu {
    *border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.many-werm {
    *border: 1px solid #fff;
    display:flex;
    justify-content: flex-end;

}

.giant-werm {
    margin-left: 20px;
}

.logo {
    display:flex;
    justify-content: flex-start;
}