* {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 0.7s ease;
}

.body-container {
    display: flex;

}

.menu-container {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    height: 100%;
    overflow: visible;
}
.menu-middle {
    flex: 3 1 auto;
}

.menu-middle button {
    background-color: gray opacity: 0.2;
    font-size: 15px;
    position: relative;
    padding: 15px;
    margin-top: 5px;
    float: right;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 0.7s ease;
}

.menu-middle button:focus {
    right: -50px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 119px;
    margin-left: 5px;
    width: 1000px;
    border: transparent;
}

.upper-content {
    background-color: black;
    height: 100px;
    width: 1000px;
    position: absolute;
    border: #000 1px transparent;
    opacity: 0.3;
    color: aliceblue;
    border-bottom-right-radius: 100%;
}

.selected-image {
    object-fit: cover;
    position: relative;
    top: 70px;
    left: 40px;
}
